[submodule "Server"]
	path = Server
	url = https://github.com/EQMacEmu/Server
[submodule "Quests"]
	path = Quests
	url = https://github.com/EQMacEmu/quests
[submodule "Maps"]
	path = Maps
	url = https://github.com/EQMacEmu/Maps
